/* Generics */
* {
    margin: 0;
    padding: 0;
}

body {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Utilities */

.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-box-rx {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.flex-box-sx {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.black-button {
    background-color: black;
    color: white
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 60px;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
}

.logo-discord img {
    height: 100px;
}

/* Contenuto */

header {
    background-color: #285de6;
    color: white;
}

nav {
    width: calc(100% /3);
}

a {
    text-decoration: none;
    color: white;
}

/*sezione header*/
.header-sec {
    line-height: 75px;
    text-align: center;
    color: white;
    min-height: 500px;
    background-image: url('../img/backg-discord.png');
}

.header-cont {
    padding: 50px 0;
}

.header-cont h2 {
    margin-bottom: 25px;
}

/* prima sezione */

.first-section {
    border-bottom: 2px;
    text-align: left;
    margin-top: 50px;
}

.flex-box-rx img {
    margin-right: 30px;
}

.column {
    padding: 50px;
    width: calc(100% / 2);
}

/* seconda sezione */

.second-section {
    padding: 50px;
    background-color: rgb(202, 202, 202);
}