/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

section {
    padding: 50px;
}


/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    min-height: 80px;
    background-color: lightseagreen;
}

.navbar {
    height: 80px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar>div {
    background-color: dodgerblue;
}

/* header section */

.header-sec {
    background-color: darkblue;
    height: 500px;
}

.header-sec .content-sec {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    background-color: pink;
}

/* Main */

.sec-container {
    display: flex;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.odd-sec {
    background-color: #fff;
}

.even-sec {
    background-color: grey;
}

.big-col {
    height: 500px;
    flex-basis: 60%;
    background-color: darkgoldenrod;
}

.small-col {
    flex-basis: 40%;
    background-color: blueviolet;
}

.vertical-col {
    flex-basis: 100%;
    background-color: lime;
    height: 500px;
}

/* Footer */

footer {
    background-color: darkslategrey;
    padding: 50px 0;
}

footer .footer-main {
    height: 500px;
    padding-bottom: 25px;
    display: flex;
}

.column-lang {
    width: calc(100% / 5*2);
    height: 300px;
    background-color: red;
}

.column-menu {
    width: calc(100%/5);
    height: 400px;
    background-color: yellow;
}

.footer-bottom {
    display: flex;
    padding-top: 25px;
    justify-content: space-between;
}

.logo {
    height: 100px;
    width: 50%;
    background-color: deeppink;
}

.button {
    height: 100px;
    width: 50%;
    background-color: lightsalmon;
}